.dropdown-toggle::after {
  display: none;
}

.dropdown-item:hover {
  background-color: #ffffff1e;
  color: rgb(249, 249, 249);
  transition: color 0.3s ease;
  font-weight: bold;
  
}

.dropdown-hover .dropdown-menu {
  display: none;
  
  background-color: rgba(255, 255, 255, 0.214);
}

.dropdown-hover:hover .dropdown-menu {
  display: block;
}

.dropdown-toggle {
  background-color: transparent;
  border: none;
  color: rgb(255, 255, 255);
  outline: none;
  transition: color 0.3s ease;
  font-family: 'Montserrat', sans-serif;
  font-weight: bold; 
}

.dropdown-toggle:hover,
.dropdown-toggle:focus {
  
  background-color: transparent;
  color: green;
  border-color: transparent !important;
  box-shadow: none !important;
  border-radius: none;
}

.dropdown-item.active,
.dropdown-item:active {
  background-color: transparent !important;
}

.dropdown-item.animate-slide {
  position: relative;
  animation: slideRight 0.3s;
}

@keyframes slideRight {
  0% {
    left: -100%;
  }
  100% {
    left: 0;
  }
} 
.dropdown-search {
  display: flex;
  align-items: center;
}

.dropdown-search input[type="text"] {
  border: none;
  border-radius: 4px;
  padding: 5px 10px;
  margin-right: 5px;
  background-color: #f8f9fa;
  margin-left: 40px;
}

.dropdown-search button {
  border: none;
  background-color: transparent;
  color: white;
  cursor: pointer;
  transition: color 0.3s ease;
  margin-left: 5px;
}

.dropdown-search button:hover {
  color: green;
}

.search-icon {
  font-size: 18px;
}